<%=render "menu"%>

<h4><%=@teacher.full_name%></h4>

Courses I Teach:
<ul>
    <%@teacher.courses.each do |course|%>
        <li>
            <%=link_to course.name, "/courses/#{course.id}"%>
        </li>
    <%end%>
</ul>


<br>
<%= link_to "View All My Students", "/teachers/#{@teacher.id}/list_all_my_students" %>
<br>
<br>
<%= link_to "Edit This Teacher", "/teachers/#{@teacher.id}/edit" %>




