<%=render "menu"%>

<h4> Assignment Date: <%= @assignment.date %> </h4>
<h4> Assignment Difficulty: <%= @assignment.difficulty %> </h4>
<h4> Assignment Description: <%= @assignment.description %> </h4>
<h4> Assignment Content: <%= @assignment.content %> </h4>
