<%=render "menu"%>



<h4><%=@student.full_name%></h4>

<p>
Age: <%=@student.age%><br>
Gender: <%=@student.gender%><br>
Grade Level: <%=@student.grade_level%><br>
<br>
<br>
Courses:
<ul>
    <%@student.courses.each do |courses|%>
        <li>
            <%=link_to courses.name, "/courses/#{courses.id}"%>
        </li>
    <%end%>
</ul>
<br>
<br>
<br>
<%= link_to "Edit This Student", "/students/#{@student.id}/edit" %>
    
</p>

