<h4><%=@student.full_name%></h4>

<p>
Age: <%=@student.age%><br>
Gender: <%=@student.gender%><br>
Grade Level: <%=@student.grade_level%><br>
<br>
<br>
Teachers:
<ul>
    <%=@student.teachers.each do |teacher|%>
        <li>
            <%= link_to teacher.full_name, "/teachers/#{teacher.id}"%>
        </li>
    <%end%>
</ul>


</p>

